<div class="container-fluid px-3 px-md-0 inicial">
  <div class="container">
    <div class="row d-flex align-items-end">
      <div class="col-12 apresentacao">
        <h1>Frontend <span style="font-size: 64px;">Developer</span></h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid about py-3 px-3 px-md-0" id="about">
  <div class="container">
    <div class="row mb-2 mb-md-3 about-txt">
      <div class="col-12 col-md-6 col-lg-8 my-2">
        <h2 class="mt-3 mb-2 mt-md-5 mb-md-3">{{ 'hello' | translate }}</h2>
        <p [innerHTML]="'hello_message_paragraph1' | translate"></p>
        <p>{{ 'hello_message_paragraph2' | translate }}</p>
        <p>{{ 'hello_message_paragraph3' | translate }}</p>
        <p class="mt-5">🌍 {{ 'location' | translate }}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0 about-img">
        <img src="../../assets/images/perfil.png" alt="imagem-de-perfil">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-projetos mt-5">
  <div class="container" id="projects">
    <div class="row pt-md-3 pb-md-0 ">
      <div class="col-12">
        <h2 class="titulo-projetos">{{ 'projects' | translate }}</h2>
        <iframe title="shining" src="https://lottie.host/embed/f6d07745-a735-451c-b8a0-042201af7e9c/iOtePhZkgD.json"></iframe>
      </div>
    </div>
  </div>
  <div class="container-fluid my-5">
    <div class="row pb-3 pb-md-5">
      <div class="col-12 ">
        <app-slide></app-slide>
      </div>
    </div>
  </div>
  <div class="container tecnologias">
    <div class="row ">
      <div class="col-12 pb-3 py-md-5 tec-txt">
        <h2 class="text-center mb-4">{{ 'tec_meth' | translate }}</h2>
        <p>{{ 'day_to_day_work' | translate }}</p>
      </div>
      <div class="col-12 py-5 py-md-5 tec-lista">
        <ul>
          <li>html</li>
          <li>css</li>
          <li>sass</li>
          <li>bootstrap</li>
          <li>javascript</li>
          <li>angular</li>
          <li>react</li>
          <li>figma</li>
          <li>mysql</li>
          <li>wordpress</li>
          <li>php</li>
          <li>typescript</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center my-5 my-md-0" id="contacts">
  <div class="container formulario mb-5 mb-md-0">
    <div class="row">
      <div class="col-12 ">
        <h2>{{ 'contacts' | translate }}</h2>
      </div>
      <div class="col-12 ">
        <app-formulario></app-formulario>
      </div>
    </div>
  </div>
  <div class="container g-0 py-5 info-contactos">
    <div class="row d-flex justify-content-evenly gap-3">
      <div class="col-12 col-md-12 col-lg-8 outros-contatos">
        <h2>{{ 'other_contacts' | translate }}</h2>
        <div class="d-flex menu-contatos">
          <nav>
            <ul>
              <li>
                <a href="mailto:raqueldebiase@gmail.com">raqueldebiase&#64;gmail.com</a>
              </li>
              <li>
                <a href="phone:+351912397450">+351 912 397 450</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4 redes-sociais">
        <h2>Social medias:</h2>
        <div>
          <div class="social-medias">
            <ul>
              <li class="github">
                <a href="https://github.com/raqueldebiase" target="_blank">
                  <img src="../../assets/images/github.svg" alt="github"></a>
              </li>
              <li class="linkedin">
                <a href="https://www.linkedin.com/in/raqueldebiase/" target="_blank">
                  <img src="../../assets/images/linkedin-in.svg" alt="linkedin"></a>
              </li>
              <li class="discord">
                <a href="https://discord.gg/s59ewuUD" target="_blank">
                  <img src="../../assets/images/discord-alt-svgrepo-com.svg" alt="discord"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>