.apresentacao h1{
  font-size: 84px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 75%;
}

.meuNome {
  font-weight: 600;
  background: linear-gradient(to right, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Torna o texto transparente para que o gradiente seja visível */
}

.about-txt span {
  font-size: 24px;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}


h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

.tecnologias ul li {
  list-style: none;
  border: 1px solid #000;
  padding: 14px 60px;
  border-radius: 50px;
  margin-top: 30px;
  margin-right: 30px;
  box-shadow: 2px 2px #444444;
}

.tec-txt p{
  font-size: 1.1em;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .about-img img {
    max-width: 75%;
  }
}

@media screen and (max-width: 660px) {
  .tecnologias ul li {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}

@media screen and (max-width: 484px) {
  .tecnologias ul li {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    margin: 24px 13px 0px 0px ;
  }
}

@media screen and (max-width: 400px) {
  .apresentacao h1 {
    font-size: 65px;
    line-height: 80%;
  }
  h2 {
    font-weight: 500;
    font-size: 2.0rem;
  }
  .about .about-txt p{
    font-size: 1.0em;
  }
  .about-img img {
    width: 100%;
  }
  .tecnologias ul li {
    margin-right: 10px;
    padding: 4px 18px;
  }
  .tecnologias .tec-txt{
    font-size: 15px;
  } 

  .tec-txt p{
    font-size: 1.1em;
    margin: 8px 0px;
  }
}

