.inicial {
  height: 24vh;
  display: flex;
  align-items: end;
}
#about {
  position: relative;
  z-index: 2;
}
.apresentacao h1 {
  font: 84px/75% "Bricolage Grotesque", sans-serif;
  font-weight: 200;
}
.meuNome {
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(169, 54, 36, 0.99);
}
.about-txt {
  font-size: 1em;
}
.about-txt span {
  font-size: 24px;
}
.about-img {
  display: flex;
  justify-content: end;
  align-items: center;
}
.about-img img {
  max-width: 100%;
}
.bg-projetos {
  background-image: url('../../assets/images/bg-tec.svg');
  height: 140vh;
}
#projects {
  position: relative;
}
#projects iframe {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 50px;
  left: 145px;
}
h2 {
  font-weight: 500;
  font-size: 2.5rem;
}
.tecnologias {
  position: relative;
  z-index: 9;
  height: 100%;
}
.tec-lista ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tecnologias ul li {
  list-style: none;
  border: 1px solid #000;
  padding: 14px 60px;
  border-radius: 50px;
  margin: 30px 30px 0;
  box-shadow: 2px 2px #444444;
  background-color: #fff;
}
.tec-txt {
  border-radius: 1.5625rem;
  border: 1px solid #000;
  background: linear-gradient(180deg, rgba(169, 54, 36, 0.33), rgba(247, 187, 136, 0.54));
  padding: 3rem !important;
  text-align: center;
}

#contacts {
  background-image: url('../../assets/images/Union.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  height: 115vh;
  margin-top: -130px;
}

.formulario {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1.5625rem;
  padding: 36px;
}

.outros-contatos, .redes-sociais {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 1.5625rem;
  padding: 2rem !important;
  max-width: 65%;
}

.menu-contatos nav ul li {
  list-style: none;
  font-weight: 400;
  color: rgba(169, 54, 36, 0.99);
}

.menu-contatos nav ul li:hover{
 color: #000;
}

.menu-contatos nav ul li a {
  text-decoration: none;
}

.social-medias ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-medias ul li {
  width: 48px;
  height: 48px;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-medias ul li a {
  text-decoration: none;
}

.social-medias ul li a img {
  width: 24px;
  height: 24px;
  margin: auto;
}

.github, .linkedin, .discord {
  background: linear-gradient(180deg, rgba(169, 54, 36, 0.33), rgba(247, 187, 136, 0.54));
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 5px;
}

.github:hover, .linkedin:hover, .discord:hover {
  background: transparent;
  width: 24px;
  height: 24px;
  display: flex;
  outline: 2px solid transparent;
}

@media screen and (max-width: 1500px){
  #contacts {
    margin-top: -80px;
  }
}
@media screen and (max-width: 1200px){
  #contacts {
    margin-top: 64px;
  }
}

@media screen and (max-width: 992px){
  #contacts {
    
  }
  .bg-projetos {
    height: 164vh;
  }
  .redes-sociais, .outros-contatos {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .about-img {
    justify-content: center;
  }

  .inicial {
    height: 30vh;
  }

  #projects iframe {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 25px;
    left: 110px;
  }
  .tec-lista ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 4px;
  }
  .tecnologias ul li {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contacts {
    height: 160vh;
    margin-top: 140px;
  }


}

@media screen and (max-width: 660px) {
  .apresentacao h1 {
    font-size: 65px;
    line-height: 80%;
    font-weight: 300;
  }
  .formulario {
    margin: 0rem 0.8rem;
  }

  .redes-sociais h3, .outros-contatos h3 {
    font-size: 1.3rem;
  }

  .outros-contatos .menu-contatos nav ul li {
    margin-bottom: 0.3rem;
  }
  .info-contactos{
    padding: 0px 12px !important;
  }

  #contacts {
    margin-top: 90px;
  }
}

@media screen and (max-width: 580px) {
  .tecnologias ul li {
    margin: 0px !important;
    padding: 8px 18px;
  }
  .tec-lista ul {
    gap: 24px;
  }

  .tecnologias .tec-txt {
    font-size: 15px;
  }

  .tec-txt p {
    font-size: 1.1em;
    margin: 8px 0px;
  }
  .bg-projetos{
    height: 142vh;
  }
  #contacts {
    margin-top: 0px;
  }
}

@media screen and (max-width: 484px) {
  h2 {
    font-size: 1.9rem;
  }
  #contacts {
    margin-top: 48px;
  }
  .bg-projetos{
    height: 145vh;
  }
  .tecnologias ul li {
    margin: 0px !important;
    padding: 8px 12px;
    width: 140px;
  }
}

@media screen and (max-width: 400px) {
  .apresentacao h1 {
    margin-top: 150px;
  }

  h2 {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .about-img img {
    width: 75% !important;
  }

  .about .about-txt p {
    font-size: 1.0em;
  }


}
