<div class="container-fluid grid-image d-none">
  <div class="container">
    <div class="row content-principal ">
      <div class="col-12 col-md-4 image image1">
        <div class="content-image">
          <h2>Titulo do projeto</h2>
          <a href="#">Ver mais</a>
        </div>
      </div>
      <div class="col-12 col-md-4 image image2">
        <div class="content-image">
          <h2>Titulo do projeto</h2>
          <a href="#">Ver mais</a>
        </div>
      </div>
      <div class="col-12 col-md-4 image image3">
        <div class="content-image">
          <h2>Titulo do projeto</h2>
          <a href="#">Ver mais</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid about" id="about">
  <div class="container">
    <div class="row my-5 about-txt">
      <div class="col-12 col-md-6">
        <h2>Hello, there!</h2>
        <p>ipsen Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis? Aspernatur voluptatum debitis doloribus animi inventore quae distinctio quidem nobis, eius praesentium architecto eaque at hic, ducimus ut soluta ipsam.ipsen Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis? Aspernatur voluptatum debitis doloribus animi inventore quae distinctio quidem nobis, eius praesentium architecto eaque at hic, ducimus ut soluta ipsam.</p>
        <p>ipsen Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis? Aspernatur voluptatum debitis doloribus animi inventore quae distinctio quidem nobis, eius praesentium architecto eaque at hic, ducimus ut soluta ipsam.ipsen Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis? Aspernatur voluptatum debitis doloribus animi inventore quae distinctio quidem nobis, eius praesentium architecto eaque at hic, ducimus ut soluta ipsam.</p>
      </div>
      <div class="col-12 col-md-6 about-img">
        <img src="../../assets/images/profile-2.jpg" alt="imagem-de-perfil">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid break">
  <div class="container">
    <div class="row my-5">
      <div class="col-12">
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-5 " id="projects">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 my-5">
        <app-slide></app-slide>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-5" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Hey, liked?<br>Please, send hello to me 👋 </h2>
      </div>
      <div class="col-12" id="projects">
        <app-formulario></app-formulario>
      </div>
    </div>
  </div>
</div>