<div class="container-fluid px-3 px-md-0 inicial">
  <div class="container">
    <div class="row d-flex align-items-end">
      <div class="col-12 col-md-6 apresentacao">
        <h1>Front<br>end <span style="font-size: 64px;">Developer</span></h1>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid about py-3 py-md-5 px-3 px-md-0" id="about">
  <div class="container">
    <div class="row mb-2 mb-md-3 about-txt">
      <div class="col-12 col-md-6 my-2">
        <h2 class="mt-3 mb-2 mt-md-5 mb-md-3">Heey!</h2>
        <p>Meu nome é <span class="meuNome">Raquel De Biase</span> e sou uma Front end Developer dedicada a criar experiências digitais envolventes e funcionais. Com dois anos de experiência na área, venho aprimorando minhas habilidades nas tecnologias mais atuais do mercado, buscando novos desafios e oportunidades de adquirir conhecimento.</p>

        <p class="mt-2">Durante essa minha jornada profissional, tive a oportunidade de contribuir em projetos inovadores e desafiadores, que me permitiram explorar diversas técnicas e tendências do desenvolvimento web. E meu objetivo é seguir esse caminho!</p>

        <p class="mt-2">Sinta-se à vontade para ver meus projetos e conhecer um pouco mais sobre meu trabalho! Estou entusiasmada para compartilhar experiências e ansiosa por novos desafios.
        </p>
        <p class="mt-4"><span>🌍</span> Lisboa, Portugal.</p>
      </div>
      <div class="col-12 col-md-6 mt-5 mt-md-0 about-img">
        <img src="../../assets/images/perfil.png" alt="imagem-de-perfil">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-3 my-md-5 px-3 px-md-0" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Projetos</h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mb-2 mb-md-3 px-3 px-md-0">

  <div class="row">
    <div class="col-12">
      <app-slide></app-slide>
    </div>
  </div>

</div>

<div class="container-fluid pt-3 pt-md-5 px-3 px-md-0 tecnologias">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-md-4 tec-txt">
        <p>No meu dia-a-dia, utilizo uma variedade de <b>tecnologias</b> que me permitem criar experiências digitais funcionais que, em conjunto, me permitem criar soluções completas, desde a estruturação e estilização até a interatividade e manipulação de dados. Estou constantemente atualizando e explorando <b>novas ferramentas </b>para garantir que meus projetos estejam alinhados com as melhores práticas. </p>
      </div>
      <div class="col-12 col-md-8 mt-3 tec-lista">
        <ul class="d-flex flex-wrap justify-content-evenly">
          <li>html</li>
          <li>css</li>
          <li>sass</li>
          <li>bootstrap</li>
          <li>javascript</li>
          <li>angular</li>
          <li>react</li>
          <li>figma</li>
          <li>mysql</li>
          <li>wordpress</li>
          <li>php</li>
          <li>typescript</li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid px-3 px-md-0 my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mt-md-5" id="contacts">
        <h2>Gostou?<br>Por favor, me mande um alô 👋 </h2>
      </div>
      <div class="col-12 mt-2 mt-md-3">
        <app-formulario></app-formulario>
      </div>
    </div>
  </div>
</div>