<div class="container-fluid d-flex flex-wrap footer-container">
  <div class="container">
    <div class="row">
      <div class="col-12 social-medias">
        <ul class="justify-content-end">
          <li><a href="https://github.com/raqueldebiase" class="github" target="_blank"><img src="../../assets/images/github.svg" alt=""></a>
          <li>
          <li><a href="https://www.linkedin.com/in/raqueldebiase/" class="linkedin" target="_blank"><img src="../../assets/images/linkedin-in.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid copy">
  <div class="container">
    <div class="row t-5">
      <div class="col-12 text-center">
        <p>&copy; 2024 Raquel De Biase. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>