<div class="container-fluid d-flex flex-wrap footer-container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-start d-flex align-items-center">
        <nav>
          <ul class="menu-footer-list">
            <li><a>About me</a></li>
            <li><a>Projects</a></li>
            <li><a>Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-6 text-end">
        <h5>Raquel De Biase <span><img src="" alt=""></span></h5>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid copy">
  <div class="container">
    <div class="row t-5">
      <div class="col-12 text-center">
        <p>&copy; 2024 Raquel De Biase. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>