<div class="container-fluid px-3 px-md-0 d-flex flex-wrap footer-container">
  <div class="container">
    <div class="row">
      <div class="col-12 social-medias">
        <ul class="justify-content-end">
          <li class="github">
            <a href="https://github.com/raqueldebiase" target="_blank">
              <img src="../../assets/images/github.svg" alt="github"></a>
          </li>
          <li class="linkedin">
            <a href="https://www.linkedin.com/in/raqueldebiase/" class="linkedin" target="_blank">
              <img src="../../assets/images/linkedin-in.svg" alt="linkedin"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid copy">
  <div class="container">
    <div class="row t-5">
      <div class="col-12 text-center">
        <p>&copy;2024 Raquel De Biase. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>