.footer-container {
  background-image: url('../../assets/images/bg-escuro-papel.png');
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.copy p {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}


@media screen and (max-width: 400px) {
  .copy p {
    font-size: 8px;
  }
  .footer-container {
    height: 100px;
  }
}