
.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-top h1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.menu-top .menu-top-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
  background-color: #D9D9D9;
  padding: 12px 50px;
  border-radius: 25px;
  
}

.menu-top .menu-top-list li {
  cursor: pointer;
  
}

.menu-top .menu-top-list li a{
  cursor: pointer;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: regular;
  font-size: 16px;
}

.menu-top .menu-top-list li a:hover {
  height: 100px;
  background: linear-gradient(to right, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}