<div class="container-fluid">
  <div class="container">
    <div class="row menu-top mt-3">
      <nav class="col-12">
        <ul class="menu-top-list">
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contacts">Contacts</a></li>
          <li><a class="d-flex align-items-center gap-1 resume" href="https://read.cv/raqueldebiase" target="_blank">Resume<span class="material-symbols-outlined">
                open_in_new
              </span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>