<div class="container-fluid">
  <div class="container">
    <div class="row menu-top mb-5 mt-3">
      <div class="col-12 col-md-6">
        <h1>Raquel De Biase</h1>
      </div>
      <div class="col-12 col-md-6">
        <nav>
          <ul class="menu-top-list">
            <li><a href="https://read.cv/raqueldebiase" target="_blank">Resume</a></li>
            <li><a href="#projects">Projetos</a></li>
            <li><a href="#contacts">Contactos</a></li>
            <li><a href="https://bento.me/raquel-de-biase" target="_blank">Bento</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>