
.menu-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999;
  background-color: #FFF;
  padding: 8px 30px;
  border-radius:50px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-top h1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.menu-top .menu-top-list{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #FFF;
  padding: 12px 30px;
  border-radius:50px;
  align-items: center;
  gap: 36px;
}

.menu-top .menu-top-list li {
  cursor: pointer;
  
}

.menu-top .menu-top-list li a{
  cursor: pointer;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: regular;
  font-size: 16px;
}

.menu-top .menu-top-list li a:hover:not(.resume){
  
  background: linear-gradient(to right, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.resume {
  outline: 1px solid #4E504E;
  padding: 2px 12px;
  border-radius: 50px;
}

.resume:hover {
  box-shadow: 0 0 0 1px #ff8a00, 0 0 0 1px #e52e71;
  outline: 1px solid transparent;
}

@media screen and (max-width: 660px) {
  .menu-top .menu-top-list{
    gap: 32px;
  }
}

@media screen and (max-width: 400px) {
  .menu-top .menu-top-list{
    gap: 8px;
  }
  .menu-top .menu-top-list li a{
    font-size: 14px;
  }
}