<main class="container-fluid main">
  <section class="row header">
    <app-menu></app-menu>
  </section>
  <section class="row mt-3 m-md-5 content">
    <app-content></app-content>
  </section>
  <section class="row footer">
    <app-footer></app-footer>
  </section>
</main>

<form name="formularioContacto" netlify netlify-honeypot="bot-field" hidden>
  <input type="text" name="nome" [value]="name" />
  <input type="email" name="email" [value]="email" />
  <input type="text" name="interested" [value]="interest" />
  <textarea name="mensagem" [value]="message"></textarea>
</form>

<router-outlet></router-outlet>