
main {
  background-image: url('../assets/images/bg-main-2.svg');
  background-size: cover;
  background-attachment: fixed;
  /* height: 150vh; */
  position: relative;
  background-repeat: no-repeat;
}

.content {
  background-image: url('../assets/images/bg-tec.svg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;

}


