
main {
  background-image: url('../assets/images/bg-main.svg');
  background-size: cover;
  background-attachment: fixed;
  /* height: 150vh; */
  position: relative;
  background-repeat: no-repeat;
}

.content {
  background-image: url('../assets/images/bg-tec.svg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;

}


@media  screen and (max-width: 767px) {
  content {
    padding: 18px;
  }
  main {
    background-image: url('../assets/images/bg-main-pg.svg');
    background-size: cover;
    background-attachment: fixed;
    /* height: 150vh; */
    position: relative;
    background-repeat: no-repeat;
    
  }
  
}
