
.swiper-container {
  overflow-x: hidden;
  padding-left: 100px;
}

.item-slide img {
  position: relative;
  width: 500px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  background-color: #fff;
  transition: filter 0.3s ease; 
}

.item-slide.hovered img {
  filter: brightness(0.8); /* Escurece a imagem em 20% */
}


.button-container {
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 14px;
  justify-content: start;
  width: 100%;

}

.button-container .button-item {
  background-color: #fff;
  border-radius: 25px;
}


.button-container .link-proj {
  border-radius: 50px;
  border: 1px solid #000000;
  padding: 8px 24px;
  background-color: #fff;
  box-shadow: 1px 1px #444444;
  text-decoration: none;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
}



.button-item:hover {
  background-color: linear-gradient(to right, rgba(255, 138, 0, 0.5), rgba(229, 46, 113, 0.5));
}

.button-container a img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  background-color: #fff;
}


@media screen and (max-width: 1100px) {

  .button-container {
    left: 150%;
  }

}


@media screen and (max-width: 1000px) {
  .button-container {
    left: 58%;
  }

}

@media screen and (max-width: 900px) {
  .button-container {
    gap: 14px;
  }
  .swiper-container {
    overflow-x: hidden;
    padding-left: 50px;
  }

}

@media screen and (max-width: 767px) {
  .item-slide img {
    width: 380px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
  }
  .swiper-container {
    overflow-x: hidden;
    padding-left: 16px;
  }

}

@media screen and (max-width: 550px) {
  .item-slide img {
    width: 350px;
    height: 260px;
    border-radius: 20px;
    object-fit: cover;
  }
  .button-container {
    bottom: -15px;
    left: 65%;
  }
  .swiper-container {
    overflow-x: hidden;
    padding-left: 16px;
  }
}

@media screen and (max-width: 400px) {
  .item-slide img {
    width: 300px;
    height: 225px;
    border-radius: 20px;
    object-fit: cover;
  }
  .button-container {
    bottom: -15px;
    left: 75%;
    gap: 10px;
  }
}