.item-slide img {
  position: relative;
  width: 500px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  background-color: #fff;
}

.button-container::after {
  content: url(../../assets/images/shining.svg);
  position: absolute;
  top: -295px;
  left: 450px;
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 18px;
  justify-content: start;
  width: 100%;

}

.button-container .button-item {
  background-color: #fff;
  border-radius: 20px;
}


.button-container .link-proj {
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 8px 16px;
  background-color: #fff;
  box-shadow: 1px 1px #444444;
  text-decoration: none;
  text-align: center;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
}



.button-container .link-proj:hover {
  background-color: #fff !important;
}

.button-container a img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  background-color: #fff;
}

@media screen and (max-width: 400px) {
  .item-slide img {
    width: 380px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
  }
}