form input, select {
  border: none;
  background-color: #F8F9FA;
  padding: 12px 0;
  margin-top: 8px;
}



form textarea {
  border: none;
  background-color: #F8F9FA;
  height: 268px !important;
  padding: 24px;
}

form button {
  border: none;
  padding: 18px 84px;
  font-weight: 400;
}

form button:hover {
  background: linear-gradient(to right, rgba(255, 138, 0, 0.5), rgba(229, 46, 113, 0.5));
  color: #F8F9FA;
  font-weight: 700;
}